Gradebook.suo
WinGradebook/bin/Debug/Gradebook.exe
WinGradebook/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WinGradebook/obj/x86/Debug/Gradebook.exe
WinGradebook/obj/x86/Debug/Gradebook.exe
*.exe
WinGradebook/obj/x86/Debug/Gradebook.pdb
*.Cache
*.exe
*.pdb
*.pdb